

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            box-sizing: border-box;
        }

        .menu {
            float: left;
            width: 20%;
        }

        .menuitem {
            padding: 8px;
            margin-top: 7px;
            border-bottom: 1px solid #f1f1f1;
        }

        .main {
            float: left;
            width: 60%;
            padding: 0 20px;
            overflow: hidden;
        }

        .right {
            background-color: lightblue;
            float: left;
            width: 20%;
            padding: 10px 15px;
            margin-top: 7px;
        }
    </style>

</head>
<body>

    <div style="background-color:#f1f1f1;padding:15px;">
        <h1>Read To Grow NPO</h1>
    </div>

    <div style="overflow:auto">


        <div class="main">
            <h2>About us</h2>
            <p>
                Read to grow foundation. An NPO whos main purpose is to provide a platform to apply to recieve donated books. This NPO aims to get appropriate culturally relevant books to those who need it most.
                Mainly focusing on schools, pre-schools, children's homes, stree children's organisations, refugee camps and all other organisations.
            </p>
            <img src="~/Content/Images/pics/readpic.png" style="width:100%">
        </div>

        <div class="right">
            <h2>What?</h2>
            <p>
                Should you fall under the category and want to request to recive any of the donated books we have available you will need to contact us, contact details are provided below.
            </p>
            <h2>Where?</h2>
            <p>HSRC Building 134 Pretorius Street Pretoria 0001 Tel No: 012 312 7500 e-mail: Nportg@gmail.npo.za.</p>
        </div>
    </div>

</body>
</html>

<!--Bootstap Grid System-->
<!------------------------------------REMEBER TO ADD YOU USE CASE PICTURES/ DIGRAS ON THIS PAGE----------------------------------------------->

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <h4>Use Case 1</h4>
            <a data-fancybox="gallery" href="/Content/Images/Use_case/uc1.png">
                <img src="/Content/Images/Use_case/uc1.png" height="400" width="200" />
            </a>
        </div>
        <div class="col-lg-3">
            <h4>Use Case 2</h4>
            <a data-fancybox="gallery" href="/Content/Images/Use_case/uc2.png">
                <img src="/Content/Images/Use_case/uc2.png" height="400" width="200" />
            </a>
        </div>
        <div class="col-lg-3">
            <h4>Use Case 3</h4>
            <a data-fancybox="gallery" href="/Content/Images/Use_case/uc3.png">
                <img src="/Content/Images/Use_case/uc3.png" height="400" width="200" />
            </a>
        </div>
        <div class="col-lg-3">
            <h4>Use Case 4</h4>
            <a data-fancybox="gallery" href="/Content/Images/Use_case/uc4.png">
                <img src="/Content/Images/Use_case/uc4.png" height="400" width="200" />
            </a>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-offset-4">
            <h4>Class Diagram</h4>
            <a data-fancybox="gallery" href="/Content/Images/Use_case/classdiag.png">
                <img src="/Content/Images/Use_case/classdiag.png" height="400" width="200" />
            </a>
        </div>

    </div>
</div>
